.gridRow {
  background-color: #424242;
  border-radius: 16px;
  overflow: hidden;

  // .gridRow__picture
  &__picture {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
}
